*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body{
 height: 100%;
 width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
button{
    background-color: crimson;
    color: white;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    position: relative;
    z-index: 99;
}

