* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}
@mixin flex-center($direction:column,$gap:1rem,$padding:0.5rem){
  display: flex;
  flex-direction: $direction;
  gap:$gap;
  padding: $padding;
}
main{
    width: 100%;
    @include flex-center();
    section{
      max-width: 1500px;
      width: 100%;
      margin: 0 auto;
    }
    section.one{
        width: 100%;
       @include flex-center();
        .up{
           width: 100%;
           img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
           }
        }
        .down{
            width: 100%;
            @include flex-center();
            gap: 3rem;
          //  max-width: fit-content;
            background-color: #1E1E1E;
            border-radius: 15px;
            h5{
              color: #F4F2ED;
              font-weight: 500;
            }
            .text-area{
              @include flex-center();
              
              h2{
                font-size: 2rem;
                font-weight: 400;
                color: #F4F2ED;
              }
              p{
                padding-top: 0.5rem;
                color: #F4F2ED99;
                font-weight: 400;
                line-height: 1.9rem;
                font-size: 1.2rem;
                
              }
            }
        }
    }
    section.two{
      width: 100%;
      color: #F4F2ED;
      
      @include flex-center();
      .up{
        @include flex-center(row,1.5rem);
        justify-content: space-around;        
      }
      .down{
        @include flex-center(row);
         justify-content: space-around;
      }
      .up,.down, .ele1 , .ele2{
        h3{
          font-weight: 300;
          color: #F4F2ED99;
          font-size: 1rem;
        }
        h1{
          font-weight: 400;
          letter-spacing: 0.1rem;
        }
      }
    }
    section.three{
      
    }
    



    @media(min-width: 900px){
      section.one{
        flex-direction: row;
        .down{
          justify-content: space-between;
         
          padding: 3rem;
          .text-area{
            width: 75%;
            h2{
              font-size: 3.3rem;
              line-height: 4.8rem;
            }
          }
        }
      }
      section.two{
        @include flex-center(row,1rem ,1rem );
        justify-content: space-around;
        .up,.down{
        width: 50vw;
        }
      }
      
    }
    


}