*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body{
 height: 100%;
 width: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}
.box{
    width: 400px;
    height: 400px;
    background-color: rgb(120, 10,55);
    border-radius: 15px;
    border: 2px solid white;
}
button{
    padding: 1rem;
    background-color: pink;
    border: none;
    border-radius: 15px;
}
button:active{
    scale: 0.95;
}