*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body{
 height: 100%;
 width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.8s ease-in-out;
    background-image: url(https://images.unsplash.com/photo-1753982519308-d9ae94c9d434?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
section{
    width: 30%;
    height: 20%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 25px;
}
.one{
    width: 100%;
    height: 10%;
    background-color: pink;
    border-radius: 10px;
}
.onechild{
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: blue;
}
.two{
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
}
button{
    padding: 15px 20px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}



