*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body{
 height: 100%;
 width: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 50vw;
    height: 90vh;
   display: flex;
   flex-direction: column;
  text-align: center;
   background-color: #000000;
   border-radius: 15px;
   color: white;
   gap: 8px;
   padding: 0 auto;
}
section>h2{
    margin-top: 5px;
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
   
}
section>p{
    width: 80%;
   padding-left: 160px;
   font-size: 15px;
   font-weight: 100 !important;
   font-family: Arial, Helvetica, sans-serif;

}
div{
      margin-top: 10px;
    height: 90%;
    width: 100%;

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "data target target"
                          "data social seo"
                          "creative creative performce"
    ;
  grid-gap: 9px;
  overflow: hidden;
}

#box1 , #box2 , #box3 , #box4 , #box5 , #box6{
    
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    
}
#box1{
    grid-area:data ;
    height: 350px;
    background-image: url(https://images.unsplash.com/photo-1606663889134-b1dedb5ed8b7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1974);
    background-size: cover;
    background-position: center;
    
}
#box2{
    grid-area: target;
    background-image: url(https://images.unsplash.com/photo-1524481905007-ea072534b820?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);

}
#box3{
    grid-area:social ;
     background-image: url(https://images.unsplash.com/photo-1616098063625-65f32186e609?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);

}
#box4{
    grid-area: seo;
    background-image: url(https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2080);

}
#box5{
    grid-area: creative;
    background-image: url(https://images.unsplash.com/photo-1592561199818-6b69d3d1d6e2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1976);

}
#box6{
    grid-area:performce ;
    background-image: url(https://images.unsplash.com/photo-1581833971358-2c8b550f87b3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2071);

}
