*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@mixin background($back){
    background-image: url($back);
    background-size: cover;
    background-position: center;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    background-color:#fff;
    section{
        flex-grow: 1;
        
    }
    section:nth-child(1){
       @include background("https://plus.unsplash.com/premium_photo-1666777247416-ee7a95235559?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1974");
    }
    section:nth-child(2){
        @include background("https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=764");
    }
     section:nth-child(3){
        @include background("https://plus.unsplash.com/premium_photo-1675432656807-216d786dd468?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=690");
    }
     section:nth-child(4){
        @include background("https://images.unsplash.com/photo-1476293602671-beea27e1e702?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    }
     section:nth-child(5){
        @include background("https://plus.unsplash.com/premium_photo-1661810799921-ded27d475104?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1972");
    }

    section:hover{
        flex-grow: 2;
        transition: all ease-in-out 0.5s;
    }


}